html {
    box-sizing: border-box;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: rgba(0, 0, 0, .03);
}


/* header page */

#headerPage {
    color: #0d6efd;
}


/* menu navbar left */

#menu {
    margin-top: 20px;
    padding: 20px 0px 20px 0px;
    background-color: #0d6efd;
    border-radius: 20px;
    height: 480px;
}

#menu .nav-link {
    color: #ffffff;
    padding-left: 30px;
}

#menu .nav-item>a:hover {
    background-color: #0b5ed7;
    color: #062a60;
}

#menu .nav-item>.active {
    background-color: #0b5ed7;
    color: #ffffff;
}


/* header text with container no padding */

.header-back {
    padding-right: 0px;
    padding-left: 0px;
}


/* my shop button */

.btn-myshop {
    margin-right: 10px;
}


/* set text last update  */

.card-date {
    font-size: 12px !important;
}


/* set margin for card list  */

.card-shop {
    margin-top: 10px;
    margin-bottom: 10px;
}


/* set text input list group  */

.inputSearch {
    margin-bottom: 0px !important;
}


/* set input required  */

.form-required .form-label:after {
    content: "*";
    color: #dc3545;
}

.form-required .form-check-label:after {
    content: "*";
    color: #dc3545;
}


/* set background color for shopping cart  */

.small-cont {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}


/* shopping cart button  */

.btn-round {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    padding: 0px 0px 5px 0px;
    border-color: #0d6efd;
    background-color: #ffffff;
    background-image: url('./assets/basket.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.btn-round:hover {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    padding: 0px 0px 5px 0px;
    background-color: #0d6efd;
    background-image: url('./assets/basket-white.svg');
    background-repeat: no-repeat;
    background-position: center;
}

/* shopping cart delete product  */

.btn-del-cart {
    margin-left: 10px;
}


/* shopping cart amount input  */

.input-amt {
    width: 30%;
}

.input-amt button {
    width: 20%;
}

.input-amt-form {
    text-align: center;
}


/* The snackbar - position it at the bottom and in the middle of the screen */

#snackbar {
    visibility: hidden;
    margin-left: 10px;
    min-width: 48px;
    max-height: 48px;
    background-color: #ffffff;
    color: #0d6efd;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
    /* box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important; */
    padding: 16px;
    position: fixed;
    z-index: 1;
    bottom: 30px;
    display: flex;
    align-items: center;
}

#snackbar.fail {
    background-color: #dc3545;
    color: #ffffff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
}


/* Show the snackbar when clicking on a button (class added with JavaScript) */

#snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
        However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}